*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.header {
  position: relative;
}
.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 10px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
li {
  list-style-type: none;
}
.header__logo {
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 218px;
}
.nav__links {
  padding: 21px 27px;
}
.links {
  text-decoration: none;
  color: #212a2f;
  margin: 0 36px;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
}
.links__right {
  padding-left: 210px;
}
.link__right {
  text-decoration: none;
  color: #212a2f;
  margin: 0 29px;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
}
.header__icons {
  margin: 0 5px;
  padding-right: 40px;
}
.header__title-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  color: #fff;
  margin-bottom: 11px;
  margin-left: 54px;
  padding-top: 554px;
}
.header__title-decr {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 24px;
  margin-left: 54px;
}
.header__content {
  background-image: url("../images/header-conent.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  margin-bottom: 119px;
}
.button__right-one {
  background-color: #fff;
  color: #212a2f;
  text-transform: uppercase;
  font-weight: 700;
  padding: 17px 46px;
  border: none;
  margin-left: 54px;
  /* margin: 0 10px 66px 54px; */
}
.button__right-two {
  background-color: #fff;
  color: #212a2f;
  text-transform: uppercase;
  font-weight: 700;
  padding: 17px 46px;
  border: none;
  margin: 0 10px;
}
.border {
  border-bottom: 2px solid #d3d4d5;
  margin-top: 12px;
}
.border__two {
  border-top: 2px solid #d3d4d5;
  margin-bottom: 12px;
}
.favorite__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  flex-direction: column;
  margin-top: 34px;
}
.favorite__title {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 33px;
  text-align: center;
}
.favorite__card-one {
  background-image: url("../images/favorite-one.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 53vh;
}
.favorite__card-two {
  background-image: url("../images/favorite-two.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
.favorite__card-three {
  background-image: url("../images/favorite-three.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
.button__men {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #212a2f;
  padding: 17px 94px;
  border: none;
  margin-top: 144px;
  margin-left: 60px;
}
.button__women {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #212a2f;
  padding: 17px 82px;
  border: none;
  margin-left: 60px;
}
.favorite__links {
  display: inline-block;
}
.favorite__text {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
}
.favorite__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #212a2f;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
  margin: 0 165px;
}
.favorite__text-under {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  flex-direction: column;
  margin-bottom: 32px;
}
.favorite__text-two {
  font-size: 14px;
  line-height: 20px;
  margin: 5px 5px;
}
.photo {
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  background-size: cover;
  margin-top: 130px;
  margin-bottom: 52px;
}
.photo__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
  margin-bottom: 52px;
}
.photo__text {
  text-align: center;
  font-style: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
}
.photo__button-one {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  background-color: #212a2f;
  padding: 17px 82px;
  border: none;
  margin-left: 60px;
  color: #fff;
  margin-left: 440px;
}
.photo__button-two {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  background-color: #212a2f;
  padding: 17px 70px;
  border: none;
  margin-left: 60px;
  color: #fff;
}
.shoes__photo {
  margin-bottom: 119px;
}
.collections {
  margin-bottom: 134px;
}
.collection__title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
}
.collection__cards {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.collection__img {
  margin-bottom: 17px;
}
.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 10px;
  margin: 0 5px;
}
.card__title-two {
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 10px;
  margin: 0 65px;
}
.card__descr {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 8px;
  margin-top: 10px;
}
.card__descr-two {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 65px;
  margin-top: 10px;
}
.nature {
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  background-size: cover;
  margin-bottom: 52px;
}
.nature__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  margin-bottom: 26px;
  text-align: center;
}
.nature__button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  background-color: #212a2f;
  padding: 17px 154px;
  border: none;
  color: #fff;
  margin-left: 528px;
}
.nature__photo {
  margin-bottom: 119px;
}
.arrivals {
  margin-bottom: 134px;
  background-color: #fff;
}
.climate__button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  background-color: #212a2f;
  padding: 17px 154px;
  border: none;
  color: #fff;
  margin-left: 472px;
}
.climate {
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  background-size: cover;
  margin-bottom: 52px;
}
.footer {
  background-color: #212a2f;
}
.footer__links {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 80px;
  grid-gap: 120px;
  padding-left: 150px;
}
.footer__links-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 21px;
  margin-top: 72px;
}
.footer_links-list {
  font-size: 14px;
  font-weight: 300;
  padding: 10px 0;
  line-height: 34px;
}

.copyright__footer {
  font-size: 12px;
  color: #fff;
  line-height: 18px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}
.footer__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 21px;
  padding-left: 150px;
  padding-top: 80px;
}
.footer__descr {
  font-size: 12px;
  color: #fff;
  line-height: 22px;
  padding-left: 150px;
  font-weight: 200;
}
